process {
    executor = 'k8s'
    container = 'nf_demo:latest'
   scratch = true
   cpus = 32
   memory = '4GB'
   pod = [[nodeSelector:'storage=local-ssd'], [imagePullSecret:'Always']]
    withName: seq_num {
        container = 'samreenrizvii/nf_demo:latest'
    }
    withName: seq_al {
        container = 'samreenrizvii/nf_demo:latest'
    } 
    withName: bam_separation {
        container = 'samreenrizvii/nf_demo:latest'
    }
}
docker {
    enabled = false
}


k8s {
   namespace = 'nextflow'
   storageMountPath = "./persistant_vol"
}

executor {
   queueSize = 1
   podTemplate {
     iamgePillSecret = 'Always'
   }
}
